/* Definição de cores base e variáveis para modo claro/escuro */
:root {
    --text-color-light: #212529; /* Cor preta suavizada, padrão do Bootstrap para texto claro */
    --background-color-light: #f8f9fa; /* Cinza claro do Bootstrap para fundo claro */
    --text-color-dark: #f8f9fa; /* Branco suavizado, padrão do Bootstrap para texto escuro */
    --background-color-dark: #343a40; /* Cinza escuro, quase preto do Bootstrap para fundo escuro */
    --link-hover-color: #007bff; /* Azul vibrante do Bootstrap para links ao passar o mouse */
    --effect-text-color: #dc3545; /* Vermelho do Bootstrap para frases de efeito em ambos os modos */
    --navbar-bg-light: rgba(255, 255, 255, 0.85); /* Fundo mais sólido para a navbar no modo claro */
    --navbar-bg-dark: rgba(52, 58, 64, 0.85); /* Fundo mais sólido para a navbar no modo escuro */
    --header-bg-light: #e9ecef; /* Cinza claro do Bootstrap para o fundo do header no modo claro */
    --header-bg-dark: #495057; /* Cinza mais escuro do Bootstrap para o fundo do header no modo escuro */
}

/* Aplica modo claro ou escuro baseado em uma classe no body */
body.light-mode {
    color: var(--text-color-light);
    background-color: var(--background-color-light); /* Aplica a cor de fundo azul muito claro no modo claro */
}

body.dark-mode {
    color: var(--text-color-dark);
    background-color: var(--background-color-dark); /* Aplica a cor de fundo verde Teal escuro no modo escuro */
}

/* Estilos Gerais */
body, html {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif; /* Define uma fonte padrão */
}

header {
    color: var(--text-color-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para o cabeçalho */
    background-color: var(--header-bg-light); /* Cor de fundo do header no modo claro */
}

body.dark-mode header {
    background-color: var(--header-bg-dark); /* Cor de fundo do header no modo escuro */
}

.navbar {
    padding: 10px 15px 15px 10px; /* Padding para melhorar o espaçamento interno */
    transition: background-color 0.3s ease; /* Transição suave para mudança de fundo */
}

body.dark-mode .navbar {
    background-color: var(--navbar-bg-dark); /* Cor de fundo suave no modo escuro */
}

.navbar-brand {
    font-size: 1.0em; /* Aumenta o tamanho da fonte da marca */
    font-weight: bold;
    color: var(--text-color-light); /* Define a cor da marca */
    transition: none; /* Remove transições */
}

.navbar-brand:hover, .navbar-brand:focus {
    color: var(--text-color-light); /* Garante que a cor não mude */
}

.nav-link {
    color: var(--text-color-light);
    font-size: 1.0em; /* Aumenta o tamanho da fonte dos links */
    transition: color 0.3s ease-in-out, transform 0.3s ease; /* Adiciona transição suave */
}

.nav-link:hover, .nav-link:focus {
    color: var(--link-hover-color);
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

main {
    padding: 60px 20px; /* Aumento de padding para espaçamento interno maior */
    background-color: var(--background-color-light);
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

body.dark-mode main {
    background-color: var(--background-color-dark);
}

#home {
    padding: 0px 10px 20px 0px; /* Espaçamento vertical dentro da seção */
    text-align: center; /* Centraliza o texto na seção */
}

.typewriter-container {
    min-height: 400px; /* Define uma altura mínima para o contêiner do efeito de digitação */
    display: flex;
    align-items: left;
    justify-content: left;
}

.typewriter h1 {
    display: inline-block;
    white-space: pre-wrap;
    overflow: hidden;
    border-right: 2px solid var(--text-color-light);
    animation: blink-caret 0.5s step-end infinite;
    font-size: 1.5em;
    margin-top: 100px;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--text-color-light); }
}

.hidden-text {
    visibility: hidden;
}

#Frase {
    font-size: 2.5em; /* Tamanho maior para o subtítulo */
    color: var(--effect-text-color);
    text-align: right; /* Alinha o texto à direita */
    margin-bottom: 40px; /* Espaçamento abaixo do subtítulo */
    min-height: 400px;
}

/* Estilos para o título principal */
h1 {
    font-size: 4.5em; /* Tamanho maior para o título principal */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para efeito 3D */
    margin-bottom: 100px; /* Espaçamento abaixo do título */
}

/* Estilos para subtítulos em geral */
h2 {
    font-size: 3.5em; /* Tamanho maior para o subtítulo */
    color: var(--effect-text-color);
    text-align: right; /* Centraliza o texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto sutil */
    margin-bottom: 40px; /* Espaçamento abaixo do subtítulo */
    min-height: 400px;
}

p {
    font-size: 1.25em; /* Tamanho de fonte maior para parágrafos */
    line-height: 1.8; /* Espaçamento de linha aumentado para melhor leitura */
    margin-bottom: 20px; /* Aumento do espaçamento após parágrafos */
}

footer {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    padding: 20px; /* Padding aumentado para um melhor visual */
    font-size: 1.2em; /* Tamanho maior para o texto do rodapé */
    text-align: center; /* Centralizando o texto do rodapé */
}

body.dark-mode footer {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.container > span {
    font-size: 1em; /* Ajusta o tamanho da fonte para texto dentro de containers */
}

/* Estilos específicos para as novas seções */
#about, #experience, #habilidades, #projects, #contact {
    background-color: var(--background-color-light);
    padding: 60px 20px;
    border-radius: 15px;
    margin-bottom: 40px;
}

body.dark-mode #about, body.dark-mode #experience, body.dark-mode #habilidades, body.dark-mode #projects, body.dark-mode #contact {
    background-color: var(--background-color-dark);
}

/* Estilos para tablets */
@media (max-width: 768px) {
    body, html {
        font-size: 14px; /* Diminuir a fonte geral */
    }
    .navbar-brand, .nav-link {
        font-size: 1em; /* Ajustar o tamanho da fonte da navegação */
    }
    header, .navbar {
        padding: 10px; /* Reduzir o preenchimento */
    }
    h1, h2 {
        font-size: 2.5em; /* Reduzir o tamanho das cabeçalhos */
        margin-bottom: 50px;
    }
    main, #about, #experience, #habilidades, #projects, #contact {
        padding: 20px; /* Reduzir o preenchimento nas principais seções */
    }
}

/* Estilos para celulares */
@media (max-width: 480px) {
    .navbar-brand, .nav-link {
        font-size: 0.8em; /* Mais ajustes para navegação */
    }
    h1, h2 {
        font-size: 2em; /* Tamanhos menores para títulos */
    }
    main, #about, #experience, #habilidades, #projects, #contact {
        padding: 10px;
    }
    .typewriter h1 {
        font-size: 1.2em; /* Ajustar tamanhos de fonte para efeitos de digitação */
    }
}
