#Frase .word {
    display: inline; /* Garante que as palavras quebrem corretamente */
    white-space: nowrap; /* Impede que a palavra quebre em meio */
}

#Frase .letter {
    transition: transform 0.4s ease;
    display: inline-block; /* Mantém o comportamento de bloco para transformações */
    cursor: pointer;
    transform-origin: bottom center;
}

#Frase .letter.hovered {
    transform: scale(1.5);
    color: #3498db;
    z-index: 10;
}


/* Ajuste da margem para o conteúdo principal */
.content {
    margin-left: 80px; /* Ajuste este valor para a largura da sua sidebar */
}

html {
    overflow-x: hidden;
}

/* Estilos da sidebar */
.sidebar {
    height: 100%;
    width: 80px; /* mantemos a largura estreita */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s ease; /* Suaviza a transição de largura */
    padding-top: 20px; /* ajuste no padding superior */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza todo o conteúdo na coluna */
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin-bottom: 30px;
    animation: pulse 2s infinite; /* Adiciona pulsação ao logotipo */
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.logo-resto {
    color: #818181; /* cor mais suave para o resto do nome */
    font-size: 18px;
}

/* Ajustes para os links da sidebar */
ul.nav {
    width: 100%; /* Ajusta a largura dos links para ocupar toda a sidebar */
    padding: 0; /* Remove padding padrão */
}

/* Estilos para os links sociais */
.sidebar .nav-item:last-child {
    margin-bottom: 20px; /* adiciona espaço abaixo do último item */
}

.nav-link {
    color: #818181; /* cor padrão para ícones */
    display: flex;
    justify-content: center; /* centraliza os ícones horizontalmente */
    height: 50px; /* altura padrão para todos os links */
    transition: transform 0.3s ease; /* Adiciona transição suave */
}

.nav-item {
    display: flex;
    justify-content: center;
    height: 50px; /* altura padrão para todos os links */
    transition: transform 0.3s ease; /* Adiciona transição suave */
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* destaque ao passar o mouse */
    color: #f1f1f1;
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* destaque ao passar o mouse */
    color: #f1f1f1;
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
}

.logo-j {
    font-size: 40px; /* Ajuste para visualização clara */
    font-weight: bold;
    color: blue; /* Cor principal do texto */
    position: relative;
    text-shadow: 
        1px 0 0 black, -1px 0 0 black, /* sombras horizontais */
        0 1px 0 black, 0 -1px 0 black, /* sombras verticais */
        1px 1px black, -1px -1px black, /* sombras diagonais */
        1px -1px black, -1px 1px black; /* mais sombras diagonais */
}

.logo-j::before {
    content: 'J'; /* Repete o conteúdo do J */
    position: absolute;
    top: -3px; /* Ajusta para criar o efeito de sombra/3D */
    left: -3px; /* Ajusta para criar o efeito de sombra/3D */
    color: transparent; /* Torna a cor transparente */
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to right, #00FFFF, black); /* Gradiente de azul ciano para preto */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1; /* Coloca a sombra atrás do texto */
}

.logo-j::after {
    content: 'J'; /* Repete o conteúdo do J */
    position: absolute;
    top: 0;
    left: 0;
    color: #00FFFF; /* Cor azul ciano para o texto */
    font-size: 40px;
    font-weight: bold;
    z-index: 1; /* Garante que o texto azul fique na frente */
}

.typewriter {
    padding: 80px; /* Adiciona espaço interno */
    margin: 40px 4; /* Adiciona uma margem consistente em cima e embaixo */
    min-height: 400px; /* Altura mínima para evitar mudanças no layout */
    width: 100%; /* Ocupa a largura total disponível */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos no cálculo da width/height */
}

#lang-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#flag-icon {
    width: 50px; /* ou qualquer outro tamanho que se encaixe melhor no seu design */
}

section {
    min-height: 100vh; /* Define a altura mínima de cada seção para 100% da altura da viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    padding: 0 60px; /* Adiciona um pouco de padding lateral para evitar que o conteúdo toque as bordas */
}

.container {
    width: 100%; /* Garante que o container use toda a largura disponível */
    max-width: 1200px; /* Limita a largura máxima para grandes telas */
    margin: 0 auto; /* Centraliza o container horizontalmente */
}

/* Ajusta o espaçamento para cabeçalhos de seção para criar uma separação visual clara */
.section-heading {
    margin: 20px 0; /* Adiciona espaço vertical antes e depois do título da seção */
    font-size: 2.5rem; /* Aumenta o tamanho da fonte para dar destaque */
}

.section-subheading {
    color: #f1f1f1; /* Uma cor mais suave para os subtítulos */
    margin-bottom: 40px; /* Espaço extra abaixo do subtítulo para separar do conteúdo */
}

/* Media queries para responsividade */
@media (max-width: 1300px) {
    .content {
        margin-left: 80px; /* Ajuste para garantir que o conteúdo não fique atrás da sidebar */
    }
}

/* Estilos gerais para o modo claro */
.light-mode {
    background-color: white;
    color: black;
}

/* Estilos gerais para o modo escuro */
.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

/* Estilos específicos para seções com fundo claro no modo escuro */
.dark-mode .bg-light {
    background-color: #2c2c2c;
    color: #f1f1f1;
}

/* Ajustes para texto muted no modo escuro */
.dark-mode .text-muted {
    color: #f1f1f1;
}

/* Ajustes para headings e parágrafos no modo escuro */
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode .section-subheading {
    color: #f1f1f1;
}

/* Estilos responsivos para diferentes tamanhos de tela */

@media (max-width: 768px) {
    .content {
        margin-left: 0; /* Remove a margem lateral para economizar espaço */
        padding-top: 5px; /* Reduz o padding superior */
    }

    .sidebar {
        position: fixed; /* Mantém a sidebar fixa no topo */
        top: 0;
        left: 0;
        width: 100%; /* A sidebar agora se estende por toda a largura da tela */
        height: 50px; /* Reduz a altura da sidebar para torná-la mais compacta */
        background-color: #111; /* Define uma cor de fundo visível */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; /* Centraliza os itens verticalmente */
        z-index: 1000; /* Garante que a barra fique acima de outros conteúdos */
        padding: 0 10px; /* Padding horizontal para manter os itens alinhados */
    }

    .nav-link, .nav-item {
        font-size: 12px; /* Reduz o tamanho da fonte dos links para economizar espaço */
        padding: 5px 0; /* Padding vertical ajustado */
    }

    .logo-j {
        font-size: 18px; /* Reduz o tamanho do logo para se adequar à nova altura da topbar */
    }
}

@media (max-width: 576px) {
    .sidebar {
        height: 40px; /* Torna a sidebar ainda mais compacta em dispositivos muito pequenos */
    }

    .navbar-brand {
        font-size: 14px; /* Reduz ainda mais o tamanho do logo */
    }

    .nav-link, .nav-item {
        font-size: 10px; /* Reduz o tamanho da fonte dos links para melhor ajuste */
    }
}

